p{
    color:brown;
    background-color: antiquewhite;
}
table,td,th{

    border: 2px solid black;
    border-collapse: collapse;
    padding: 15px;
}

#secondptag{
    color: blue;
}

#fff{
    text-align: center;

}
#iii{
    padding: 5px;
    margin: 5px;
    
}
